*{
  color: var(--textColor);
  overflow: visible;

}

.about-page {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    background-image: url(../../assets/about-back.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-title {
    text-align: center;
    font-size: 2.5em;
    color: var(--textColor);
    margin-bottom: 40px;
  }
  
  .about-section {
    margin-bottom: 40px;
  }
  
  .about-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .about-section p {
    text-indent: 30px;
  }
  