
footer {
  background: var(--colorOne);
  color: var(--textColor);
  bottom: 0;
  height: 8.5rem;
  text-align: center;
  position: relative;
  padding: 1vh;
  width: 100%;
  }

  .socialMedia svg {
    margin: 1rem;
    font-size: auto;
    cursor: grabbing;
  }
  
  body {
    margin-bottom: 25%;
  }