
.contact-section {
    padding: 50px;
    text-align: center;
    color: var(--textColor);
    background-color: var(--colorOne);
    width: 30rem;
    margin:auto;
    margin-bottom: 20vw;
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: var(--textColor);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    background-color: var(--colorOne);
  }

  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: var(--colorThree);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--colorOne);
  }
  
  button:focus {
    outline: none;
  }

  @media (max-width: 1000px) {
    .contact-section {
      margin-bottom: 30vw;
    }
    
  }
  
@media (max-width: 650px) {
  .contact-section {
    width: 20rem;
    margin-bottom: 35vw;
  }
  
}

@media (max-width: 550px) {
  .contact-section {
    width: 15rem;    
    margin-bottom: 40vw;
  }
  
}

@media (max-width: 450px) {
  .contact-section {
    padding: 1rem;
    text-align: center;
    color: var(--textColor);
    background-color: var(--colorOne);
    width: 15rem;
    margin:auto;
    margin-bottom: 50vw;

  }
  
}

@media (max-width: 450px) {
  .contact-section {
    width: 12rem;
    margin:auto;
    margin-bottom: 60vw;
  }
  
}