/* Navbar Container */
.navbar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 10%;
  background-color: var(--colorOne);
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Sustain-A-Plate Heading */
h3 {
  font-size: 1.5rem;
  color: var(--textColor);
  margin-left: auto;
  margin-right: auto;
}

/* Drawer Button Container */
.drawer-button-container {
  display: flex;
  align-items: center;
}

/* Icon Color */
.icon-color {
  color:var(--textColor); 
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .drawer-button-container {
    padding-right: 0.5rem;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10%;
    background-color: var(--colorOne);
  }
}
